@model BusDepot.Models.Bus

@{
    ViewBag.Title = "Delete bus";
}

<h2>Delete bus</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Side number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SideNumber)
        </dd>

        <dt>
            @Html.DisplayName("Functionality")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFunctional)
        </dd>

        <dt>
            @Html.DisplayName("Car registration")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarRegistration)
        </dd>

        <dt>
            @Html.DisplayName("Model and make")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModelAndMake)
        </dd>

        <dt>
            @Html.DisplayName("Engine type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIN)
        </dd>

        <dt>
            @Html.DisplayName("Engine capacity")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineCapacity)
        </dd>

        <dt>
            @Html.DisplayName("Engine power")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnginePower)
        </dd>

        <dt>
            @Html.DisplayName("Emission standard")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmissionStandard)
        </dd>

        <dt>
            @Html.DisplayName("Transmission make and type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransmissionMakeAndType)
        </dd>

        <dt>
            @Html.DisplayName("Number of standing places")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfStandingPlaces)
        </dd>

        <dt>
            @Html.DisplayName("Number of seats")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>

        <dt>
            @Html.DisplayName("Registration date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to buses list", "Index")
        </div>
    }
</div>
